html {
    font-size: 20px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

table#story_list {
    width: 100%;
    border: 1px solid;
}

td.story-options {
    display: flex;
}

.story-list li {
    display: flex;
    background: white;
}

#list-headers {
    background: cyan;
}

#header-title {
    flex-grow: 1;
}

.story-list li .story-title {
    flex-grow: 1;
}

.story-list li:nth-child(odd) {
    background: gray;
}
