<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css" />
        <title>{% block title %}Litlist{% endblock title %}</title>
    {% endblock head %}
</head>

<body>
    <div id="header">
        <div class="logo">LitList</div>
        <ul>
            <li><a href="/about">Home</a></li>
            <li><a href="/">Story List</a></li>
        </ul>
    </div>

    <div id="content">{% block content %}{% endblock content %}</div>
</body>
</thml>
