<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Litlist</title>
</head>

<body>
    <p>testing testing</p>
    {% for entry in lits %}
    <p><a href="entry/{{loop.index}}">{{loop.index}}. {{entry.title}}</a></p>
    {% endfor %}
    <p><a href="create">Create</a></p>
</body>
