<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>LitList</title>
</head>

<body>
    <p>story page testing</p>
    {% if lit %}
        <p>{{lit.id}}. {{lit.title}}
    {% endif %}
    <p><a href="/">Back</a></p>
</body>
